body {
  font-family: sans-serif;
  background-image: linear-gradient(70deg,rgb(236, 95, 177), rgb(44, 2, 44),rgb(99, 226, 226), rgb(115, 221, 82));
}

#main_content {
  width:800px;
  margin:0 auto;
}

header {
  text-align: center;
}

.team {
  width: 50%;
  height: 200px;
  float: left;
}

.team1 {
  background-color: greenyellow;
}

.team2 {
  background-color: red;
}

.team-name1 {
  background-color: greenyellow;

}

.team-name2 {
  background-color: red;
}

